[Unit]
Description=Wills Bonescript server

[Service]
Environment=NODE_PATH=/usr/lib/node/modules
WorkingDirectory=/home/root/ECE497/Homework06
ExecStart=/usr/bin/node /home/root/ECE497/Homework06/boneServer.js
SyslogIdentifier=wills_bonescript

[Install]
WantedBy=multi-user.target
